.login-page {
  font-family: 'Arial', sans-serif;
  background-color: #e6f7ff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
navbar {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the items horizontally */
  background-color: #e6f7ff; /* Match the background color to your theme */
  padding: 0px;
}

.navbar h1 {
  margin-left: 595px; /* Add space between the logo and the title */
  color: #333; /* Adjust the color as needed */
  font-size: 1.78em;
  margin-top: -50px; /* Adjust the size as needed */
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.logo {
  height: 50px; /* Adjust as needed */
}

.form-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  width: 300px; /* Adjust as needed */
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}
.signup-link {
  display: inline-block;
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #333;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}


h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-footer {
  margin-top: 20px;
  text-align: center;
}

.form-footer a {
  display: block;
  margin-bottom: 20px;
  color: #0066cc;
  text-decoration: none;
}

.form-footer button {
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-footer button[type="submit"] {
  background-color: #0066cc;
  color: white;
}

.form-footer button[type="button"] {
  background-color: #f2f2f2;
  color: #333;
}

/* Additional styling for the SIGN UP button */
.form-footer button[type="button"]:last-child {
  margin-right: 0;
}
